## functions
S3method(summary,RDML_object)

export(
RDML,
selectFData
)

importFrom(chipPCR, MFIaggr)
importMethodsFrom(chipPCR, summary)
importFrom(XML, getNodeSet)
importFrom(XML, xmlGetAttr)
importFrom(XML, xmlParse)
importFrom(XML, xmlValue)
importFrom(XML, xpathSApply)


