table.plateTable{
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}
table.plateTable td, table.plateTable th{
  width: 4rem;
  height: 2rem;
  border: 2px solid #ccc;
  text-align: center;
}
table.plateTable th{
  /*background: #FFA500;*/
  border-color: white;
  color: white;
}
table.plateTable thead th:nth-child(even){
  background-color: #3CA9E8;
}
table.plateTable thead th:nth-child(odd){
  background-color: #178ACC;
}

.odd-row{
  background-color: #3CA9E8;
}
.even-row{
  background-color: #178ACC;
}

table.plateTable body{
  padding: 1rem;
}
.sel{
  border: 2px solid black !important;
}

.br-triangle {
  background: transparent !important;
  position: relative;
}
.br-triangle:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
	width: 0;
	height: 0;
    display: block;
	border-left: 1em solid transparent;
	border-bottom: 1em solid transparent;

	border-bottom: 1em solid grey;
}